@page
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.CmsKit.Localization;
@using X.Abp.CmsKit.Pro.Public.Web.Pages.Public.Newsletters;
@model X.Abp.CmsKit.Pro.Public.Web.Pages.Public.Newsletters.EmailPreferencesModel
@inject IHtmlLocalizer<CmsKitResource> L
@{

}

@section scripts {
    <abp-script-bundle name="@typeof(EmailPreferencesModel).FullName">
        <abp-script src="/client-proxies/cms-kit-pro-common-proxy.js" />
        <abp-script src="/Pages/Public/Newsletters/EmailPreferences.js" />
    </abp-script-bundle>
    }

<div id="newsletter-manage" data-emailAddress="@Model.EmailAddress" class="col col-sm-12 offset-lg-2 col-lg-8 offset-md-2 col-md-8 p-5">

    @if (Model.NewsletterPreferenceDetailsViewModels.Count > 0)
    {
        <h3 class="display-4">@L["UpdateYourEmailPreferences"]</h3>
        <small>@L["EmailAddressPermissionManagement", Model.EmailAddress]</small>
        <br />
        <br />
        <form id="newsletterUpdate">
            <div class="mb-3 form-check">
                <input type="checkbox" id="selectAll" class="form-check-input" />
                <label for="selectAll" class="form-check-label">
                    @L["SelectAll"]
                </label>
            </div>

            @foreach (NewsletterPreferenceDetailsViewModel newsletterPreferenceDetailsViewModel in Model.NewsletterPreferenceDetailsViewModels)
            {
                <div class="mb-3 form-check">
                    <input id="newsletter-manage-@newsletterPreferenceDetailsViewModel.Preference"
                           type="checkbox"
                           checked="@newsletterPreferenceDetailsViewModel.IsSelectedByEmailAddress"
                           data-preference="@newsletterPreferenceDetailsViewModel.Preference"
                           class="form-check-input newsletter-preference-check" />
                    <label for="newsletter-manage-@newsletterPreferenceDetailsViewModel.Preference"
                           class="form-check-label">
                        @newsletterPreferenceDetailsViewModel.DisplayPreference
                    </label>
                    <br />
                    &ensp;

                    <label for="newsletter-manage-@newsletterPreferenceDetailsViewModel.Preference">
                        <small for="newsletter-manage-@newsletterPreferenceDetailsViewModel.Preference"
                               class="text-muted">
                            @newsletterPreferenceDetailsViewModel.DisplayDefinition.TruncateWithPostfix(256)
                        </small>
                    </label>
                </div>
            }

            <abp-button button-type="Primary" type="submit" class="mb-2 mt-2" text="@L["SaveChanges"].Value" />
        </form>
    }
    else
    {
        <div>
            <h1>@L["ThankYou"]</h1>
            <p>@L["NewsletterEmailUnsubscriptionMessage"]</p>
        </div>
    }

</div>
